* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    background-color: #000040;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 140px;
    gap: 20px;
}

header h1 {
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.reset{
    padding: 2px 2px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
}

header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header article div a::after {
    height: 0px;
}

header article a {
    color: white;
}

a {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding-bottom: 4px;
}


a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.5s ease;
}

a:hover::after {
    width: 105%;
}

header article a img {
    width: 250px;
    height: 250px;
    margin: -40px;
}

header article nav {
    display: flex;
    gap: 40px;
}

header article nav a {
    background-color: transparent;
    font-size: 18px;
    font-weight: 200;
    border: none;
    color: white;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 150px;
    width: 50%;
    align-items: center;
    text-align: end;
    padding-top: -40px;
}

form input {
    width: 80%;
    height: 60px;
    border-radius: 8px;
    padding-left: 30px;
    background: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 20px;
}

form input::placeholder {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

form select {
    width: 80%;
    border-radius: 10px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0px 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(arrow_drop_down_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: 97%;
}

form button {
    width: 30%;
    height: 45px;
    background-color: rgb(206, 223, 255, 34%);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    border: solid white 2px;
    transition: all ease 0.4s;
    font-size: 15px;
}

form button:hover {
    background-color: white;
    color: black;
}

option {
    color: black;
}