@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #03112B;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    gap: 20px;
}

.reset{
    padding: 2px 2px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
}

header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header article a img {
    width: 200px;
    height: 200px;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav a {
    background-color: transparent;
    font-size: 15px;
    font-weight: 200;
    border: none;
    color: white;
    padding: 0;
}


