@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000040;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 140px;
    gap: 20px;
}

header h1 {
    color: white;
    font-size: 32px;
    font-weight: 500;
}

.reset{
    padding: 2px 2px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
}

header article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header article div a::after {
    height: 0px;
}

header article a {
    color: white;
}

a {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
  padding-bottom: 4px;
}


a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.5s ease;
}

a:hover::after {
  width: 105%;
}

header article a img {
    width: 250px;
    height: 250px;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav a {
    background-color: transparent;
    font-size: 18px;
    border: none;
    color: white;
    padding: 0;
}