@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.banner {
    background-image: url(banner.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100vh;
}

article {
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 83px;
    padding: 150px 60px;
    padding-bottom: 70px;
    background-color: rgba(3,17,43,1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    text-align: end;
    padding-top: -40px;
}

form a {
    width: 80%;
}

form input {
    width: 80%;
    height: 60px;
    border-radius: 8px;
    padding-left: 30px;
    background: transparent;
    border: 2px solid white;
    margin-top: 20px;
}

form input::placeholder {
    color: white;
    font-weight: 700;
    font-size: 15px;
}

form button {
    width: 165px;
    height: 45px;
    background-color: rgb(206, 223, 255, 22%);
    border-radius: 15px;
    border: solid white 2px;
    font-size: 18px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

div h1 {
    font-size: 80px;
}

div h2 {
    font-size: 20px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    gap: 50px;
}

.line {
    width: 80%;
    height: 1px;
    background-color: white;
}

a {
    color: rgba(98, 213,255,1);
}